<launch>
    <!-- Spawn control.cpp node-->
    <node name="sieglinde_control" pkg="sieglinde_gripper_control" type="control" />

    <node name="xbox_control_gripper" pkg="sieglinde_gripper_control" type="xbox_control_node" output="screen" >
    <rosparam command="load" file="$(find sieglinde_gripper_control)/config/joy_config.yaml" />
    </node>


</launch>
