PACKAGE = "rqt_gripper_control"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Add a slider parameter for the gripper position
gen.add("gripper_position", int_t, 0, "Position of the gripper", 0, 2000, 6900)
gen.add("axis_5_position", int_t, 0, "Position of the gripper", 0, -10000, 10000)

exit(gen.generate(PACKAGE, "rqt_gripper_control", "Gripper"))
